<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>agaje sistem te da la bienvenida </h1>


    <center>
        <p>tu codigo generado es </p>
        <p># <span>12345</span></p>

        <button id="btn">ok</button>
    </center>

<script>

    var btn=document.getElementById('btn')

    btn.addEventListener('click',()=>{

        window.location.href='/ventanaAdmin';

    })
</script>
    
</body>
</html>