<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>agaje sistem te da la bienvenida </h1>


    <center>

        <form action="/adminr/uploads" method="get">
            <p>tu codigo generado es </p>
            <input  type="text" value="<% if(typeof codigo != 'undefined') { %><%= codigo %><% } %>">
            
        <p># <span>12345</span></p>

        <button type="submit">ok</button>

        </form>
        
    </center>

    
</body>
</html>