<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/Gerardo_estilos/id.css">
    <title>Document</title>
</head>
<body>
    <h1 class="titulo_tema">Ordershop te da la Bienvenida</h1>

    <img class="logo" src="/stylesheet/Gerardo_estilos/logo_original.png" alt="">

    <div  class="conteiner">
        <form action="/adminr/uploads" method="get">
            <p class="titulo_codigo">Tu Codigo Generado es el Siguiente: </p>
            <input class="codigo_generado"  type="text" value="<% if(typeof codigo != 'undefined') { %><%= codigo %><% } %>">
            
        <p class="contenido_codigo"># <span>12345</span></p>

        <button class="accion_ok" type="submit">Aceptar</button>

        </form>
    </div>        
</body>
</html>