h1 {
    text-align: center;
    color: #333;
}
table {
    width: 100%;
    box-shadow: 0 0 8px rgb(255, 0, 140);
    border: 1px solid red; /* Quitar bordes de la tabla */
}
th, td {
    padding: 12px;
    text-align: left; /* Quitar bordes de las celdas */
    background-color: #ecececb4;
    text-align: center;
}
th {
    background-color: #ecececc4;
    font-weight: bold;
}

select, input[type="date"] {
    width: 100%;
    padding: 6px;
    border: 1px solid #ececec;
    border-radius: 4px;
}
.checkbox-center {
    text-align: center;
}
.detalles-btn {
    background-color: #ececec;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
}
.boton-salir-editar {
    position: absolute;
    top: 50px;
    right: 120px;
}
.btn-salir-editar {
    background-color: #e6ebf0;
    color: rgb(224, 65, 65);
    border: none;
    padding: 2px 16px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}
.btn-salir-editar:hover {
    background-color: #f0e6e6;
}
.btn-salir-editar .tooltip {
    width: 120px;
    background-color: #dc3545;
    margin-left: -60px;
}
.btn-salir-editar:hover .tooltip {
    visibility: visible;
    opacity: 1;
}


.boton-editar {
    position: relative;
}
.btn-editar {
    background-color: transparent;
    color: rgb(65, 81, 224);
    border: none;
    padding: 2px 16px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}
.btn-editar:hover {
    background-color: #e6ebf0;
}
.tooltip {
    visibility: hidden;
    width: 60px;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -30px;
    opacity: 0;
    transition: opacity 0.3s;
}
.btn-editar:hover .tooltip {
    visibility: visible;
    opacity: 1;
}
.boton-editar {
    position: absolute;
    top: 50px;
    right: 60px;
}
.btn-editar {
    background-color: #e6ebf0;
    color: rgb(65, 81, 224);
    border: none;
    padding: 2px 16px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}
.btn-editar:hover {
   
    color: black;
}

/* delete */

.delete {
    position: absolute;
    top: 20px;
    right: 130px;
}
.delete {
    background-color: rgb(210, 221, 224);

    border: none;
    padding: 2px 16px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}
.delete:hover {
    background-color: rgb(210, 221, 224);
}
.delete .tooltip {
    width: 120px;
    background-color: #1b32b4;
    margin-left: -60px;
}
.delete:hover .tooltip {
    visibility: visible;
    opacity: 1;
}


.icon-park--delete {
    display: inline-block;
    width: 2em;
    height: 2em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cg fill='none' stroke-linejoin='round' stroke-width='4'%3E%3Cpath fill='%23ff2e43' stroke='%23000' d='M9 10V44H39V10H9Z'/%3E%3Cpath stroke='%23fff' stroke-linecap='round' d='M20 20V33'/%3E%3Cpath stroke='%23fff' stroke-linecap='round' d='M28 20V33'/%3E%3Cpath stroke='%23000' stroke-linecap='round' d='M4 10H44'/%3E%3Cpath fill='%23ff2e43' stroke='%23000' d='M16 10L19.289 4H28.7771L32 10H16Z'/%3E%3C/g%3E%3C/svg%3E");
  }

  .icon-park--delete-b {
    display: inline-block;
    width: 2em;
    height: 2em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cg fill='none' stroke-linejoin='round' stroke-width='4'%3E%3Cpath fill='%232f88ff' stroke='%23000' d='M9 10V44H39V10H9Z'/%3E%3Cpath stroke='%23fff' stroke-linecap='round' d='M20 20V33'/%3E%3Cpath stroke='%23fff' stroke-linecap='round' d='M28 20V33'/%3E%3Cpath stroke='%23000' stroke-linecap='round' d='M4 10H44'/%3E%3Cpath fill='%232f88ff' stroke='%23000' d='M16 10L19.289 4H28.7771L32 10H16Z'/%3E%3C/g%3E%3C/svg%3E");
  }
  

 #btnc .delete .tooltip2 {
    width: 120px;
    color: #ff0000;
    background-color: #b41b23;
    margin-left: -60px;
}
.delete:hover .tooltip2 {
    visibility: visible;
    opacity: 1;
}

.tooltip2 {
    visibility: hidden;
    width: 60px;
    background-color: #ff0000;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -30px;
    opacity: 0;
    transition: opacity 0.3s;
}
/* otro cambio */
