body{
    background-color: #b68728;
    font-family: 'Times New Roman', Times, serif;
}
.conteiner1{
    position: absolute;
    left: 20%;
    top: 12%;
    height:70%;
    width: 60%;
    background-color: #d69e2e;
}

table {
    width: 100%;
    height: 55%;
    border-collapse: collapse;
    background-color: #d69e2e;
    box-shadow: 0 2px 4px rgba(219, 218, 218, 0.1);
    color: #ffffff;
    position: absolute;
    top: 50%;
    
}
th, td {
    padding: 12px 15px;
    text-align: center;
}
th {
    background-color: #d69e2e;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    color: #ffffff;
}
tr:hover {
    background-color: #caa35686;
}
.description {
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.total {
    text-align: right;
    font-weight: bold;
}
.grand-total {
    background-color: #d69e2e;
    font-weight: bold;
}
.logo{
    position: absolute;
    height: 50%;
    top: -85px;
}
.profile-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    top: 15%;
    left: 43%;
    position: absolute;
}

.profile-image {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: #a8791a;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.direccion{
    position: absolute;
    top: 170px;
    left: 250px;
    font-size: 22,px;
}
.pedido{
    position: absolute;
    top: 175px;
    left: 37px;
    font-size: 22px;
    font-weight: 600;
}
.tienda{
    position: absolute;
    top: 30px;
    left: 20px;
    font-size: 23px;
}
.nombre{
    position: absolute;
    top: 90px;
    left: 20px;
    font-size: 23px;
}
i{
    position: absolute;
    top: 90%;
    right: 96%;
    font-size: 45px;
    cursor: pointer;
}