<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/stylesheet/jazzy/index3.css">
    <title>crear cuenta</title>
</head>
<body>
    <form>
       <div class="titulo" >ELIJA UNA OPCION:</div>
        <br> 
        <div class="forma">
            <div class="que_hace_rolL">
                <h1 class="admin">RL ADMINISTRADOR</h1>
             </div>  
             <div class="parrafos0">
                <p>supervisar y gestionar las operaciones diarias de la empresa.</p>
             </div>          
            <a  href="/admin">
                <img class="a" src="/stylesheet/Gerardo_estilos/image__1_-removebg-preview.png" alt="Administrador">
                </a>
        </div>

        <div class="contenedor2">
            <div class="que_hace_rol">
               <h1 class="repar">RL REPARTIDOR</h1>
            </div>
            <div class="parrafos">
                  <p>°distribución y entregarlos a los clientes de manera segura y puntual. </p>
            </div>
            <a href="/repartidor">
                <img class="b" src="/stylesheet/Gerardo_estilos/carrito.png" alt="">
            </a> 
        </div>
    </form>
   
</html>