<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/stylesheet/jazzy/index3.css">
    <title>document</title>
</head>
<body>
    <br>
    <div class="Rectangulo">
        <a   class="a" href="/admin">

            <i class="fa-solid fa-truck-fast" style="color: #000000;"></i> 

            </a>
            </div>
            <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</body>
</html>