<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/stylesheet/jazzy/index3.css">
    <title>Repcion</title>
</head>
<body>
    <br>
    <div class="Rectangulo">
        <a class="navbar-brand" href="/admin" >admin</a>
    <a class="navbar-brand" href="/repartidor">Repart.</a>
    <br>
    </div>
    
           
   
</body>
</html>