<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/stylesheet/jazzy/index3.css">
    <title>Repcion</title>
</head>
<body>
    <br>
    <div class="Rectangulo">
        <a class="navbar-brand" href="/admin" >
            <button class="imagen-1">
                <img src="C:\Users\MINEDUCYT\Pictures\adm.png"  >
            </button>
        </a>
    <a class="navbar-brand" href="/repartidor">
        <button class="imagen-2">
            <img src="C:\Users\MINEDUCYT\Pictures\reparti.png" >

        </button>
    </a>
    <br>
    </div>
    
           
   
</body>
</html>