<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/stylesheet/jazzy/index3.css">
    <title>document</title>
</head>
<body>
    <br>
    <div class="forma">
        <a class="a" href="/admin">
            <img src="/stylesheet/jazzy/admin-removebg-preview.png">
            </a>
        <a class="b" href="/repartidor">
            <img src="/stylesheet/jazzy/carro.png">
        </a>

</html>