<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/stylesheet/jazzy/index3.css">
    <title>crear cuenta</title>
</head>
<body>
    <form>
       <div class="titulo" >ELIJA UNA OPCION:</div>
        <br> 
        <div class="forma">            
            <br>
            <a class="a" href="/admin">
                <img src="/stylesheet/jazzy/admin-removebg-preview.png" alt="Administrador">
                </a>
                <br>
            <a class="b" href="/repartidor">
                <img src="/stylesheet/jazzy/pngwing.com (2).png" alt="Repartidor">
                
            </a> 
       
    </form>
   
</html>