<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheet/jazzy/index3.css">

    <h1>administrador.</h1>
    <button class="btn btn-success" type="button">continuar</button>
    <button class="btn btn-primary" type="button">cancelar</button>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/libros/admin">Admin.</a>
        <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="my-nav" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="navbar-brand" href="/libros/repart">Repart.</a>
                </li>
            </ul>
        </div>
    </nav>  

   
</head>
<body>
     

    
</body>
</html>