<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/stylesheet/jazzy/index3.css">
    <title>crear cuenta</title>
</head>
<body>
    <form>
       
        <br>
        <div class="forma">
            <h2>ELIJA UNA OPCION:</h2>        
            <a class="a" href="/admin">
                <img src="/stylesheet/jazzy/admin-removebg-preview.png" alt="Administrador">
                </a>
            <a class="b" href="/repartidor">
                <img src="/stylesheet/jazzy/pngwing.com (2).png" alt="Repartidor">
                
            </a> 
    </form>
   
</html>