<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/stylesheet/jazzy/index3.css">
    <title>document</title>
</head>
<body>
    <br>
    <div class="forma">
        <a class="a" href="/admin">
            <img src="/stylesheet/jazzy/WhatsApp Image 2024-07-22 at 17.18.52.jpeg">
        </a>    
        <a   class="b" href="/repartidor">
            <img src="">
        </a>
            </div>
</body>
</html>