<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/54b3975121.js" crossorigin="anonymous"></script>
    <title>Registro</title>
    <link rel="stylesheet" href="/stylesheet/Gerardo_estilos/admin.css">
</head>
<body>
    <img class="mm" src="/stylesheet/Gerardo_estilos/grrr.png" alt="">
    <div class="register-container">
        <h2>REGISTRO ADMINISTRADOR</h2>
        <form method="post" action="/admin">
            <div class="input-group">
                <input type="hidden" name="rol" value="1" >
            </div>
            <div class="input-group">
                <label for="fullname"><i class="fas fa-user"></i> Nombre </label>
                <input  type="text" id="fullname" name="fullname" placeholder="Nombre Completo" >
                <% if (typeof validaciones !== 'undefined') { %>
                    <% validaciones.forEach((validacion, index) => { %>
                        <% if (index === 0 && validacion.path === 'username') { %>
                            <% } %>
                            <% }); %>
                         <% } %>
            </div>
            <div class="input-group">
                <label for="email"><i class="fas fa-envelope"></i> Correo Electrónico</label>
                <input type="text" id="email" name="email" placeholder="Usuario" >
                <% if (typeof validaciones !== 'undefined') { %>
                    <% validaciones.forEach((validacion, index) => { %>
                        <% if (index === 0 && validacion.path === 'username') { %>
                            <% } %>
                            <% }); %>
                         <% } %>
            </div>
           
            <div class="input-group">
                <label for="password"><i class="fas fa-lock"></i> Contraseña</label>
                <input type="password" id="password" name="password" placeholder="Contraseña" >
                <% if (typeof validaciones !== 'undefined') { %>
                    <% validaciones.forEach((validacion, index) => { %>
                        <% if (index === 0 && validacion.path === 'username') { %>
                            <% } %>
                            <% }); %>
                         <% } %>
            </div>
            <div class="input-group">
                <label for="confirm-password"><i class="fas fa-lock"></i> Repetir Contraseña</label>
                <input type="password" id="confirm-password" name="confirm-password"  placeholder="Repetir Contraseña" >
                <% if (typeof validaciones !== 'undefined') { %>
                    <% validaciones.forEach((validacion, index) => { %>
                        <% if (index === 0 && validacion.path === 'username') { %>
                            <% } %>
                            <% }); %>
                         <% } %>
            </div>
            
            <a href="/" class="login-link">Ya tienes cuenta?</a>
            <button type="submit" class="register-button">Registrarse</button>
        </form>
    </div>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</body>
</html>