<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olvidaste tu Contraseña</title>
    <link rel="stylesheet" href="/stylesheet/Gerardo_estilos/codigo.css">
    <script src="https://kit.fontawesome.com/54b3975121.js" crossorigin="anonymous"></script>
</head>
<body>


    
    <img class="mm" src="/stylesheet/Gerardo_estilos/grrr.png" alt="">
    <div class="forgot-password-container">
        <h2>codigo de verificacion enviado </h2>
        <p>Por favor, introduce el codigo para restablecer la contraseña.</p>
        <form method="post" action="/codigo">
            <div class="input-group">
            
                <%# <label for="password"><i class="fa-solid fa-pen-to-square"></i>codigo de verificacion</label> %>
                <label class=" veri" for="password">codigo de verificacion eviado a:</label>
                <% if (typeof correo !== 'undefined') { %>
                    <div class="correoo">
                        <h2 class="error" 
                            
                            style="
                            font-size: 17px;
                            color: #403f43;
        
                            "> <%= correo %></h2>
                        </div>
              <% } %>
<<<<<<< HEAD
                <input type="text"  id="codigo" name="codigo" placeholder="Introduce el codigo de verificacion" >
=======
    
>>>>>>> 6fd5d5ed3c9a25baaa3ee7c451034da08ed5e1b1
            </div>
            <button type="submit" disabled id="boton" class="reset-button" style="background-color: rgb(19, 183, 198);cursor: not-allowed;"  >Enviar</button>
        </form>
    </div>



    

    
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script>
         $(document).ready(function() {
        var $codigo = $('#codigo');
        var $boton = $('#boton');

        $codigo.on('input', function() {
            var codigoIntroducido = $(this).val();
                // Verifica si el código tiene exactamente 5 dígitos
            if ( /^\d{5}$/.test(codigoIntroducido)) {
                $boton.prop('disabled', false);
                $boton.css({
                'background-color':'rgb(52, 21, 179)',
                'cursor':  'pointer'
            });

            } else {
                $boton.prop('disabled', true);
                $boton.css({
                'background-color':'rgb(19, 183, 198)',
                'cursor':  'not-allowed'
            });

            }

           
        });
    })
    </script>

</body>
</html>