<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olvidaste tu Contraseña</title>
    <link rel="stylesheet" href="/stylesheet/Gerardo_estilos/codigo.css">
    <script src="https://kit.fontawesome.com/54b3975121.js" crossorigin="anonymous"></script>
</head>
<body>


    
    <img class="mm" src="/stylesheet/Gerardo_estilos/grrr.png" alt="">
    <div class="forgot-password-container">
        <h2>codigo de verificacion enviado </h2>
        <p>Por favor, introduce el codigo para restablecer la contraseña codigo enviado :<strong ></strong></p>
        
        <form method="post" >
            <div class="input-group">
            
                <%# <label for="password"><i class="fa-solid fa-pen-to-square"></i>codigo de verificacion</label> %>
                
                <% if (typeof correo !== 'undefined') { %>
                    <div class="correoo">
                        <h2 class="error" 
                            
                            style="
                            font-size: 17px;
                            color: #403f43;
        
                            "> <%= correo %></h2>
                        </div>
              <% } %>
              <input type="text"  id="codigo" name="codigo" placeholder="Introduce el codigo de verificacion" >
            
            </div>
            <button type="submit" disabled id="boton" class="reset-button" style="background-color: rgb(19, 183, 198);cursor: not-allowed;"  >Enviar</button>
            <div id="validation-message"></div>
            
        </form>

    </div>



    

    
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script>
        
        var $codigo = $('#codigo');
        var $boton = $('#boton');

        $codigo.on('input', function() {
            var codigoIntroducido = $(this).val();
                // Verifica si el código tiene exactamente 5 dígitos
            if ( /^\d{5}$/.test(codigoIntroducido)) {
                $boton.prop('disabled', false);
                $boton.css({
                'background-color':'rgb(52, 21, 179)',
                'cursor':  'pointer'
            });

            } else {
                $boton.prop('disabled', true);
                $boton.css({
                'background-color':'rgb(19, 183, 198)',
                'cursor':  'not-allowed'
            });

            }

           
        });
    
    </script>

    <script>
     $(document).ready(function() {
        $('form').on('submit', function(e) {
            e.preventDefault();
            
            var codigo = $('#codigo').val();
            
            fetch('/codigo', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ codigo: codigo })
            })
            .then(response => response.json())
            .then(data => {
            if (data.valid) {
                $('#validation-message').text('Código válido. Redirigiendo...').css('color', 'green');
                window.location.href = '/nuevacontra';
            } else {
                $('#validation-message').text('Código inválido. Por favor, intente nuevamente.').css('color', 'red');
            }
            })
            .catch(error => {
            console.error('Error:', error);
            $('#validation-message').text('Error al verificar el código. Por favor, intente nuevamente.').css('color', 'red');
            });
  });
});
  
    </script>

</body>
</html>