<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheet/Gerardo_estilos/incio.css">
    <script src="https://kit.fontawesome.com/54b3975121.js" crossorigin="anonymous"></script>
    <title>Inicio de Sesión</title>
</head>
<body>
    <img class="mm" src="/stylesheet/Gerardo_estilos/grrr.png" alt="">
    <div class="login-container">
        <h2>INICIAR SESION</h2>
        <form method="post"  action="/">
            <div class="input-group">
                <label for="username"><i class="fas fa-user"></i> Usuario</label>
                <input type="text" id="username" name="username" placeholder="Nombre de usuario" >
                <% if (typeof validaciones !== 'undefined') { %>
                    <% validaciones.forEach((validacion, index) => { %>
                        <% if (index === 0 && validacion.path === 'username') { %>
                            
                            <div>
                                <h2 class="errorr" 
                                
                                style="font-family: 'Times New Roman', Times, serif;
                                font: small-caps 200% serif;
                                font-size: 18px;
                                color: #9b599b;
                                position: relative;
                                top: -15x;

                                "><i class="fa-solid fa-circle-exclamation" style="color: #db0cc0;"></i> <%= validacion.msg %></h2>
                            </div>
                            <% } %>
                        <% }); %>
                     <% } %>
            </div>
            <div class="input-group">
                <label for="password"><i class="fas fa-lock"></i> Contraseña</label>
                <input type="password" id="password" name="password" placeholder="Contraseña" >
                <% if (typeof validaciones !== 'undefined') { %>
                    <% validaciones.forEach((validacion, index) => { %>
                        <% if (index === 1 || index === 0 && validacion.path === 'password') { %>
                            <div>
                                <h2 class="error" 
                                
                                style="font-family: 'Times New Roman', Times, serif;
                                font: small-caps 200% serif;
                                font-size: 18px;
                                color: #9b599b;
                                position: relative;
                                top: -15x;

                                "><i class="fa-solid fa-circle-exclamation" style="color: #db0cc0;"></i> <%= validacion.msg %></h2>
                            </div>
                            <% } %>
                        <% }); %>
                     <% } %>
              
                <a href="/recuperar" class="recuper">¿Olvidastes tu Contraseña?</a>
            </div>
            <a href="/a_y_r" class="create-account">Crear Cuenta</a>
            <button type="submit" class="login-button">Entrar</button>
        </form>
    </div>
  

    
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</body> 
</html>