<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheet/Gerardo_estilos/incio.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/54b3975121.js" crossorigin="anonymous"></script>
    <title>Inicio de Sesión</title>
</head>
<body>
    <img class="mm" src="/stylesheet/Gerardo_estilos/grrr.png" alt="">
    <div class="login-container">
        <h2>INICIAR SESION</h2>
        <form method="post"  action="/">
            <div class="input-group">
                <label for="username"><i class="fas fa-user"></i> Usuario</label>
                <input type="text" id="username" name="username" placeholder="Nombre de usuario" >
                <% if (typeof errors !== 'undefined') { %>
                    <% if ( errors.username ) { %>
                            <div>
                                <h2 class="error" 
                                    
                                    style="font-family: 'Times New Roman', Times, serif;
                                    font: small-caps 200% serif;
                                    font-size: 18px;
                                    color: #9b599b;
                                    position: relative;
                                    top: -15x;
    
                                    "><i class='bx bxs-error-circle'></i><%= errors.username %></h2>
                                </div>
                            
                      
                      <% } %>
                      <% } %>
            </div>
            <div class="input-group">
                <label for="password"><i class="fas fa-lock"></i> Contraseña</label>
                <input class="password" type="password" id="password" name="password" placeholder="Contraseña" >
                <i class="fa-solid fa-eye-slash" style="color: #081b29;"></i>
                <% if (typeof errors !== 'undefined') { %>
                    <% if ( errors.password ) { %>
                            <div>
                                <h2 class="error" 
                                    
                                    style="font-family: 'Times New Roman', Times, serif;
                                    font: small-caps 200% serif;
                                    font-size: 18px;
                                    color: #9b599b;
                                    position: relative;
                                    top: -15x;
    
                                    "><i class='bx bxs-error-circle'></i><%= errors.password %></h2>
                                </div>
                            
                      
                      <% } %>
                      <% } %>

                      <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

                      <script>
                         $(document).ready(function() {
                            function togglePasswordVisibility() {
                                var $passwordInput = $('#password');
                                if ($passwordInput.attr('type') === 'password') {
                                    $passwordInput.attr('type', 'text');
                                } else {
                                    $passwordInput.attr('type', 'password');
                                }
                                }
                        });
                      </script>

                        
                      </script>%>
                <a href="/recuperar" class="recuper">¿Olvidastes tu Contraseña?</a>
            </div>
            <% if (typeof err !== 'undefined') { %>
                        <div>
                            <h2 class="error" 
                            
                            style="font-family: 'Times New Roman', Times, serif;
                            font: small-caps 200% serif;
                            font-size: 18px;
                            color: #9b599b;
                            position: relative;
                            top: -15x;

                            "><i class="fa-solid fa-circle-exclamation" style="color: #db0cc0;"></i> <%= err %></h2>
                        </div>
                        <% } %>
            <a href="/a_y_r" class="create-account">Crear Cuenta</a>
            <button type="submit" class="login-button">Entrar</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script>
        $(document).ready(function() {
            $('.fa-solid').click(function() {
                var input = $(this).siblings('input');
                var icon = $(this);
                
                if (input.attr('type') === 'password') {
                    input.attr('type', 'text');
                    icon.removeClass('fa-eye-slash').addClass('fa-eye');
                } else {
                    input.attr('type', 'password');
                    icon.removeClass('fa-eye').addClass('fa-eye-slash');
                }
            });
        });
    </script>
    
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</body> 
</html>