<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheet/Gerardo_estilos/codigorecu.css">
    <title>Document</title>
</head>
<body>
    <h1 class="titles">Hola Bienvenido a AGAJE aqui puedes cambiar tu contraseña</h1>
<br>
      <div  class="cuer">
        <h1>Introduce la Nueva contraseña</h1>

        <div class="contra">
            <label class="texl" for="password">Contraseña</label>
            <input class="code" type="password" placeholder="Instroduce la contraseña" required>
        </div>
        <div class="confir">
            <label class="texl" for="password">Confirmar</label>
            <input class="code" type="password" placeholder="Confirmar contraseña" required>
        </div>
         <div>
            <button class="but">Cambiar contraseña</button>
         </div>
         
    </div>

</body>
</html>