<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/54b3975121.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="stylesheet/Gerardo_estilos/codigorecu.css">
    <title>Document</title>
</head>
<body>

    <img class="imm" src="/stylesheet/Gerardo_estilos/grrr.png" alt="">
      <div  class="cuer">
        <form id="formulario" method="post" style="display: block;">
                <h1 class="cs">Introduce la Nueva contraseña</h1>

                <div class="contra">
                    <label class="texl" for="password"><i class="fa-solid fa-lock"></i> Contraseña</label>
                    <input id="contraseña" class="code" type="password" name="password" placeholder="Instroduce la contraseña" required>
                    <i class="fa-solid fa-eye-slash" style="color: #919191;" id="n1"></i>
        
                </div>
               
                    <div id="inpu1" ></div>
                       

                <div class="confir">
                    <label class="texll" for="password"><i class="fa-solid fa-lock"></i> Confirmar contraseña</label>
                    <input id="contra2" class="codee" type="password" placeholder="Confirmar-contraseña" name="comfirmar-password">
                    <i class="fa-solid fa-eye-slash" style="color: #919191;" id="n2"></i>
                </div>

                <div id="inpu2" >

                </div>


                <div>
                    <button class="but">Cambiar contraseña</button>
                </div>
        </form>
    </div>

    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script>
        $(document).ready(function() {
            $('.fa-solid').click(function() {
                var input = $(this).siblings('input');
                var icon = $(this);
                
                if (input.attr('type') === 'password') {
                    input.attr('type', 'text');
                    icon.removeClass('fa-eye-slash').addClass('fa-eye');
                } else {
                    input.attr('type', 'password');
                    icon.removeClass('fa-eye').addClass('fa-eye-slash');
                }
            });
        });
    </script>


   <script>
     $(function() {
        // Agregar una entrada al historial
        history.pushState(null, null, location.href);

        // Manejar el evento popstate (cuando se presiona la flecha de retroceso)
        $(window).on('popstate', function(event) {
            // Prevenir el retroceso
            history.pushState(null, null, location.href);

            // Redirigir a la página de inicio de sesión
            window.location.href = '/'; // Ajusta esta URL a tu página de inicio de sesión
        });
        });

   </script>
   <div id="errorMessage" style="display: none;" >

    <center>
    <svg class="error-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
      <circle class="error-icon__circle" cx="26" cy="26" r="25" fill="none"/>
      <path class="error-icon__cross" fill="none" d="M16 16 36 36 M36 16 16 36"/>
    </svg>
    <p class="ley1"  style="color: red;">Error al cambiar la contraseña. <br> Por favor, <br>inténtalo de nuevo más tarde.</p>
    <br>
    <br>
    <button id="boton1" class="buton1" type="button">Intentar nuevamente</button>
</center>
  </div>

<div id="successMessage" style="display: none;" >

    <center>

        <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
            <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
            <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
          </svg>
          <p class="ley" style="color: green;">¡Contraseña cambiada con éxito!</p>
          <button id="boton2" class="buton" type="button" >iniciar sesion</button> 

    </center>
   
</div>

<script>
    $(function() {
        $( "#boton1" ).on( "click", ()=> {
            window.location.href='/';
  // this refers to an anchor DOM element
        });
        $( "#boton2" ).on( "click", ()=> {
                    window.location.href='/';
        // this refers to an anchor DOM element
        });
            
        });

</script>





<script>
    $(function() {
       // Agregar una entrada al historial
       $('form').on('submit', function(e) {
            e.preventDefault();

            $('#impu1').text("")
            $('#impu2').text("")
            
            var contraseña = $('#contraseña').val();
            var confirm_password=$("#contra2").val();
            var $formulario=$('#formulario')
            var $mensaje=$('#successMessage')
            var $errormessage=$('#errorMessage')

           // var $error1=$('#inpu1')
           // var $error2=$('#inpu2')
        
            
            
            fetch('/update', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ password: contraseña,Confirmar_contraseña:confirm_password })
            })
            .then(response => response.json())
            .then(data => {
            if (data.valid) {
                $formulario.css({
                'display':'none',
                })

           
                $mensaje.css({
                'display':'block',
                })

            } else if( typeof data.errors.password !== 'undefined'){
                $('#inpu1').html(` <h2 id="e1" class="error1" 
                            
                            style="position: relative;
                            font-family: 'Times New Roman', Times, serif;
                            font: small-caps 200% serif;
                            font-size: 18px;
                            color: #9b599b;


                            "><i class='bx bxs-error-circle' ></i>  ${data.errors.password}</h2>
                    
             
             
             `)
            }
            else if(typeof data.errors.Confirmar_contraseña !== 'undefined'){
                
             $('#inpu2').html(` <h2  class="error2" 
                            
                            style="position: relative;
                            font-family: 'Times New Roman', Times, serif;
                            font: small-caps 200% serif;
                            font-size: 18px;
                            color: #9b599b;


                            "><i class='bx bxs-error-circle' ></i>  ${data.errors.Confirmar_contraseña}</h2>
                    
             
             
             `)
                
            }else{
                $formulario.css({
              'display':'none',
              })

              $errormessage.css({
              'display':'block',
              })
            }

            console.log(" error 2"+data.errors.Confirmar_contraseña)

            })
            .catch(error => {
                
                

            });
  });
       });

  </script>






</body>
</html>

