<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/54b3975121.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="stylesheet/Gerardo_estilos/codigorecu.css">
    <title>Document</title>
</head>
<body>
      <div  class="cuer">
        <h1 class="cs">Introduce la Nueva contraseña</h1>

        <div class="contra">
            <label class="texl" for="password"><i class="fa-solid fa-lock"></i> Contraseña</label>
            <input class="code" type="password" placeholder="Instroduce la contraseña" required>
 
        </div>

        <div class="confir">
            <label class="texll" for="password"><i class="fa-solid fa-lock"></i> Confirmar contraseña</label>
            <input class="codee" type="password" placeholder="Confirmar contraseña" required>
        </div>


         <div>
            <button class="but">Cambiar contraseña</button>
         </div>
         
    </div>

</body>
</html>