<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olvidaste tu Contraseña</title>
    <link rel="stylesheet" href="/stylesheet/Gerardo_estilos/gmail.css">
</head>
<body>
    <img class="mm" src="/stylesheet/Gerardo_estilos/grrr.png" alt="">
    <div class="forgot-password-container">
        <h2>Olvidaste tu Contraseña</h2>
        <p>Por favor, introduce tu correo electrónico para buscar tu cuenta.</p>
        <form method="post" action="/recuperar_contra">
            <div class="input-group">
                <label for="email"><i class="fas fa-envelope"></i> Correo Electrónico</label>
                <input type="text" id="email" name="email" placeholder="Introduce tu correo electrónico" >
                <% if (typeof errors !== 'undefined') { %>
                    <% if ( errors.email ) { %>
                            <div>
                                <h2 class="error" 
                                    
                                    style="font-family: 'Times New Roman', Times, serif;
                                    font: small-caps 200% serif;
                                    font-size: 18px;
                                    color: #9b599b;
                                    position: relative;
                                    top: -15x;
    
                                    "><i class="fa-solid fa-circle-exclamation" style="color: #db0cc0;"></i> <%= errors.email %></h2>
                                </div>
                            
                      
                      <% } %>
                      <% } %>
            </div>
            <button type="submit"  class="reset-button">Enviar</button>
        </form>
        <a href="/" class="back-to-login">Volver al inicio de sesión</a>
    </div>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</body>
</html>