<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheet/Gerardo_estilos/pagina_admin.css">
    <link rel="stylesheet" href="/stylesheet/Gerardo_estilos/pagina-admin2.css">
    <script type="module" src="/javascript/animacion.js"></script>
    <script type="module" src="/javascript/boton.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla de Administrador</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <div class="advertencia" style="display: none;">
        <h1 class="titulo20">advertencia</h1>
        <img class="adver" src="/stylesheet/Gerardo_estilos/pngwing.com-removebg-preview.png" alt="">
        <p class="contenido76">  </p>
        <button class="acep">Aceptar</button>
    </div>
    <h1 class="h1a">Tabla de administracion </h1>
    <h3 class="titu1">Imagen</h3>
    <h3 class="titu2">Nombre</h3>
    <h3 class="titu3">Precio</h3>
    <h3 class="titu4">Stock</h3>
    <h3 class="titu5">Acciones</h3>
    <div class="header-row">
    </div>
    <div class="contenido1">
    <table class="admin-table"  id="default">
    </table>
    </div>


  <!-- Sidebar -->
    <div class="sideber">
        <div class="logo_content">
            <div class="logo">
                <i class='bx bxl-css3'></i>
                <div class="logo_name">OrderShop</div>
            </div>
            <i class='bx bx-menu' id="btn"></i>
        </div>
        <ul class="nav_list">
            <li>
                <a href="#">
                    <i class='bx bx-user'></i>
                    <apan class="links_name">User</apan>
                </a>
               <apan class="tooltip">User</apan>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-chat'></i>
                    <apan class="links_name">Messages</apan>
                </a>
               <apan id="" class="tooltip">Messages</apan>
            </li>
            <li>
                <a href="myModel">
                    <i class='bx bx-pie-chart-alt-2'></i>
                    <apan class="links_name">analytics</apan>
                </a>
               <apan class="tooltip">Analytics</apan>
            </li>
            <li>
                <a href="#" id="openModal">
                    <i class='bx bx-folder'></i>
                    <apan class="links_name">add products</apan>
                    
                </a>
               <apan class="tooltip">Add products</apan>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-cart-alt'></i>
                    <apan class="links_name">Order</apan>
                </a>
               <apan class="tooltip">Order</apan>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-heart' ></i>
                    <apan class="links_name">Saved</apan>
                </a>
               <apan class="tooltip">Saved</apan>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-cog'></i>
                    <apan class="links_name">Setting</apan>
                </a>
               <apan class="tooltip">Setting</apan> 
            </li>
            <% if ( typeof imagen !== 'undefined') { %>
                    
                <% } else { %>
                  <li>
                  <a href="/adminr/marca">
                      <i class='bx bx-clipboard'></i>
                      <apan class="links_name"">register trademark</apan>
                  </a>
                 <apan class="tooltip">register trademark</apan> 
              </li>
                <% } %>

             <li>
            <a href="/clear">
                <i class='bx bx-log-out'></i>
                <apan class="links_name"">Go Out</apan>
            </a>
           <apan class="tooltip">go out</apan> 
        </li>

        
        </ul>
    </div>

    <!--ventana flotante de formulario-->
    <div id="myModal" class="modal" >
        <div class="modal-content">
            <div class="modal-header">
                <h2>Insertar contenido</h2>
                <span class="close"></span>
            </div>
            <style>
                .error { color: red; }
                .div1{
                    font-size: 18px;
                    position: absolute;
                    left: 84px;
                    top: 184px;
                }
                .div2{
                    font-size: 18px;
                    position: absolute;
                    left: 500px;
                    top: 184px;
                }
                .div3{
                    font-size: 18px;
                    position: absolute;
                    left: 84px;
                    top: 284px;
                }
                .div4{
                    font-size: 18px;
                    position: absolute;
                    left: 500px;
                    top: 370px;
                }
                .div5{
                    font-size: 18px;
                    position: absolute;
                    left: 84px;
                    top: 375px;
                }
                #vistaPrevia {
                position: relative;
                width: 200px;
                height: 200px;
                margin-top: 350px;
                border: 2px solid #ddd;
                border-radius: 10px;
                display: none;
                left: 65px;
                }
                #vistaPrevia2 {
                position: relative;
                width: 200px;
                height: 200px;
                margin-top: 350px;
                border: 2px solid #ddd;
                border-radius: 10px;
                display: none;
                left: 65px;
                }
            </style>
            <form id="Produc" enctype="multipart/form-data" style="display: none;">
                <div>
                    <div>
                        <label  for="" class="nom" >Nombre Producto</label>
                        <input id="producto" name="nombre" type="text" class="reseñedor" placeholder="User">
                 
                        <div class="div1"><b><span class="error" id="productoError"></span></b></div>
                    </div>
                    
                    <div>
                        <label for="" class="cantidad"> Precio Unidad</label>
                        <input id="precio" name="precio" type="" class="rese" placeholder="Cantidad">
                        <div class="div2"><b><span class="error" id="precioError"></span></b></div>
                    </div>

                    <div>
                        <label for="" class="zona"> Precio Stock</label>
                        <input id="stock" name="stock" type="text" class="reseñ" placeholder="zona_region">
                        <div class="div3"><b><span class="error" id="stockError"></span></b></div>
                    </div>

                    <div>
                        <label for="" class="tipo1">Descripcion</label>
                        <textarea id="des" name="descripcion" class="tipos1" placeholder="Ingresa una descripcion"></textarea>
                        <div class="div4"><b><span class="error" id="desError"></span></b></div>
                    </div>

                    <div>
                        <label for="" class="tipo2">Imagen</label>
                        <input id="imagen" name="archivo" type="file" accept="image/png" class="tipos2">
                        <div class="div5"><b><span class="error" id="imagenError"></span></b></div>
                        <img id="vistaPrevia" alt="Vista previa de la imagen">
                    </div>

                    <script>
                        document.getElementById('imagen').addEventListener('change', function(event) {
                            const archivo = event.target.files[0];
                
                            if (archivo && archivo.type.startsWith('image/')) {
                                const img = document.getElementById('vistaPrevia');
                                img.src = URL.createObjectURL(archivo);
                                img.style.display = 'block';
                
                                // Liberar la URL creada para evitar pérdidas de memoria
                                img.onload = () => {
                                    URL.revokeObjectURL(img.src);
                                };
                            } else {
                                alert('Por favor, selecciona un archivo de imagen válido.');
                            }
                        });
                    </script>

                    <div class="contenedor_de_img">
                        
                    </div>
                </div>
            
                <div class="modal-footer">
                    <button  id="acceptBtn" class="btn btn-primary" type="submit">Aceptar</button>
                </form>
                    <button id="cancelBtn" class="btn btn-secondary" type="button">Cancelar</button>
                </div>
           
        </div>
<svg viewBox="0 0 240 240" height="240" width="240" class="pl">
  <circle
    stroke-linecap="round"
    stroke-dashoffset="-330"
    stroke-dasharray="0 660"
    stroke-width="20"
    stroke="#000"
    fill="none"
    r="105"
    cy="120"
    cx="120"
    class="pl__ring pl__ring--a"
  ></circle>
  <circle
    stroke-linecap="round"
    stroke-dashoffset="-110"
    stroke-dasharray="0 220"
    stroke-width="20"
    stroke="#000"
    fill="none"
    r="35"
    cy="120"
    cx="120"
    class="pl__ring pl__ring--b"
  ></circle>
  <circle
    stroke-linecap="round"
    stroke-dasharray="0 440"
    stroke-width="20"
    stroke="#000"
    fill="none"
    r="70"
    cy="120"
    cx="85"
    class="pl__ring pl__ring--c"
  ></circle>
  <circle
    stroke-linecap="round"
    stroke-dasharray="0 440"
    stroke-width="20"
    stroke="#000"
    fill="none"
    r="70"
    cy="120"
    cx="155"
    class="pl__ring pl__ring--d"
  ></circle>
</svg>

    </div>

    <!--ventana de perfil del usuario-->
    <div class="dropdown">
        <div class="dropdown-header">
          <img src="<% if (typeof imagen !== 'undefined') { %><%= imagen %> <% } %>" alt="Profile Picture" class="profile-pic">
          <div class="profile-info">
            <span class="personal">Administrador</span>
            <% if ( typeof nombre !== 'undefined') { %>
                <span class="name"> <%= nombre %> </span>
              <% } else { %>
                <span class="name"> juan perez </span>
              <% } %>

          </div>
          <span class="dropdown-arrow">▼</span>
        </div>
        <div class="dropdown-content">
          <ul>
            <li>Mi perfil</li>
            <li>Configuración</li>
            <li>Asistente Ayuda</li>
          </ul>
        </div>
      </div>

      <div id="myModall" class="modall" style="display: none;">
        <div class="modal-contentt">
            <div class="modal-header">
                <span class="closee"></span>
            </div>
            <div>
                <img class="dare" src="/stylesheet/Gerardo_estilos/pngegg-removebg-preview.png" alt="">
            </div>
            <p class="ad">¿Estás seguro de que quieres borrar el contenido seleccionado porque no se podra restaurar de nuevo,nombre del registro : <span id="r535re" style="color: yellow;"></span>?</p>
            <form id="deleteForm" >
                <input type="hidden" name="id" id="id">
                <div class="modal-footerr">
                   
                    <button id="acceptBtnn" class="btn btn-primaryy" type="submit" >Aceptar</button>
                </form>
                    <button id="cancelBtnn" class="btn btn-secondaryy" type="button" >Cancelar</button>
                </div>
         
           
        </div>
    </div>

     <!--ventana flotante de formulario de agregar 2-->
     <div id="myModal1" class="modal1" >
        <div class="modal-content1">
            <div class="modal-header1">
                <h2>Insertar contenido</h2>
                <span class="close1"></span>
            </div>
            <form  id="edit-product-form" enctype="multipart/form-data">
            <div>
                <input type="hidden" id="product-id" name="id">

                <div>
                <label  for="" class="nom1" >Nombre Producto</label>
                <input id="nombre" name="nombre" type="text" class="reseñedor1" placeholder="User">
                <div class="div1"><b><span class="error" id="producto2Error"></span></b></div>
                </div>

                <div>
                <label for="" class="cantidad1"> Precio Unidad</label>
                <input id="precio-unidad" name="precio" type="" class="rese1" placeholder="Cantidad">
                <div class="div2"><b><span class="error" id="precio2Error"></span></b></div>
                </div>

                <div>
                <label for="" class="zona1"> Precio Stock</label>
                <input id="precio-stock" name="stock" type="text" class="reseñ1" placeholder="zona_region">
                <div class="div3"><b><span class="error" id="stock2Error"></span></b></div>
                </div>

                <div>
                <label for="" class="tipo11">Descripcion</label>
                <textarea id="descripcion"  name="descripcion" class="tipos11" placeholder="Ingresa una descripcion"></textarea>
                <div class="div4"><b><span class="error" id="des2Error"></span></b></div>
                </div>

                <div>
                <label for="" class="tipo22">Imagen</label>
                <input id="imagen2" name="imagen" type="file" accept="image/png" class="tipos22" >
                <img id="vistaPrevia2" alt="Vista previa de la imagen">
                </div>
               
                
                <script>
                    document.getElementById('imagen2').addEventListener('change', function(event) {
                        const archivo = event.target.files[0];
                      
            
                        if (archivo && archivo.type.startsWith('image/')) {
                            const img = document.getElementById('vistaPrevia2');
                            img.src = URL.createObjectURL(archivo);
                            img.style.display = 'block';
            
                            // Liberar la URL creada para evitar pérdidas de memoria
                            img.onload = () => {
                                URL.revokeObjectURL(img.src);
                            };
                        } else {
                            alert('Por favor, selecciona un archivo de imagen válido.');
                        }
                    });
                </script>
                
            </div>
            <div class="modal-footerrr">
                <button id="cancelBtn1" class="btn1 btn-secondary1" type="button" >Cancelar</button>
                <button id="acceptBtn1" class="btn1 btn-primary1" type="submit">Aceptar</button>
            </div>
        </form>
        </div>
    </div>
<!--animacion y funcion del panel lateral -->
    <script>
    let btn = document.querySelector("#btn");
let sideber = document.querySelector(".sideber");
let searchBtn = document.querySelector(".bx-search");

btn.onclick = function() {
    sideber.classList.toggle("active");
}

searchBtn.onclick = function() {
    sideber.classList.toggle("active");
}
    </script>

 

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script  src="/javascript/mostrar.js"></script>
    <script  src="/javascript/delete.js"></script>
    <script  src="/javascript/edit.js"></script>
    <script  src="/javascript/addproducs.js"></script>
    <script type="module" src="/javascript/index.js"></script>



    <!------------------------------------------------------------------------------->
   
   
    <script>
            $(function() {
             function ver(){
                let hasErrors = false;
                
                // Validar producto
                const producto = $('#producto').val().trim();

                if (producto === '') {
                $('#productoError').text('El nombre de producto es requerido');
                hasErrors = true;
                } else if (producto.length < 3) {
                $('#productoError').text('El nombre debe tener al menos 3 caracteres');
                hasErrors = true;
                } else {
                $('#productoError').text('');
                }
                
                
                // Validar precio
                const precio = $('#precio').val().trim();

                if (precio === '') {
                $('#precioError').text('El precio es requerido');
                hasErrors = true;
                } else if (!/^\d+(\.\d+)?$/.test(precio)) {
                $('#precioError').text('El precio solo debe contener números');
                hasErrors = true;
                } else {
                $('#precioError').text('');
                }

                // Validar stock
                const stock = $('#stock').val().trim();

                if (stock === '') {
                $('#stockError').text('El precio stock es requerido');
                hasErrors = true;
                } else if (!/^\d+(\.\d+)?$/.test(stock)) {
                $('#stockError').text('El stock solo debe contener números');
                hasErrors = true;
                } else {
                $('#stockError').text('');
                }

                // Validar descripcion
                const des = $('#des').val().trim();

                if (des === '') {
                $('#desError').text('La descripcion es requerida');
                hasErrors = true;
                } else if (des.length < 12) {
                $('#desError').text('La descripcion debe tener al menos 12 caracteres');
                hasErrors = true;
                } else {
                $('#desError').text('');
                }

                // Validar imagen
                const archivoInput = $('#imagen');
                const archivo = archivoInput[0].files[0];

                if (!archivo) {
                $('#imagenError').text('La imagen es requerida');
                hasErrors = true;
                } else if (archivo.type !== 'image/png') {
                $('#imagenError').text('Solo se permiten imágenes PNG');
                hasErrors = true;
                } else {
                $('#imagenError').text('');
                }
                if (hasErrors) {
                    $('#acceptBtn').css({'display':'none'})
                    
                } else {
                    $('#acceptBtn').css({'display':'block'})
                }


                
                
            };
    
            // Quitar el borde rojo cuando el input obtiene el foco
            $('#producto').on('input', function() {
                $('#productoError').empty()
            });
            $('#precio').on('input', function() {
                $('#precioError').empty()
            });
            $('#stock').on('input', function() {
                $('#stockError').empty()
            });
            $('#des').on('input', function() {
                $('#desError').empty()
            });
            $('#imagen').on('input', function() {
                $('#imagenError').empty()
            });
    
            // Volver a validar cuando el input pierde el foco
            $('input').on('blur', function() {
                if ($(this).val().trim() === '') {
                    $(this).addClass('input-error');
                    $('#' + this.id + 'Error').text('Este campo es requerido');
                    
                    ver()
                   
                } else {
                    $(this).removeClass('input-error');
                   // $('#acceptBtn').css({'display':'block'})
                    ver()
                    $('#' + this.id + 'Error').text('');
                }
            });

            $('textarea').on('blur', function() {
                if ($(this).val().trim() === '') {
                    $(this).addClass('input-error');
                    $('#' + this.id + 'Error').text('Este campo es requerido');
                    ver()
                } else {
                    $(this).removeClass('input-error');
                    ver()
                    $('#' + this.id + 'Error').text('');
                }
            });
        });
    </script>
    <script>
        /*
            $(document).ready(function() {
           $('#edit-product-form').on('submit', function(e) {
               let hasErrors = false;
               
               // Validar producto
               const producto = $('#nombre').val().trim();

               if (producto === '') {
               $('#producto2Error').text('El nuevo nombre de producto es requerido');
               hasErrors = true;
               } else if (producto.length < 3) {
               $('#producto2Error').text('El nombre debe tener al menos 3 caracteres');
               hasErrors = true;
               } else {
               $('#producto2Error').text('');
               }
               
               
               // Validar precio
               const precio = $('#precio-unidad').val().trim();

               if (precio === '') {
               $('#precio2Error').text('El nuevo precio es requerido');
               hasErrors = true;
               } else if (!/^\d+(\.\d+)?$/.test(precio)) {
               $('#precio2Error').text('El precio solo debe contener números');
               hasErrors = true;
               } else {
               $('#precio2Error').text('');
               }

               // Validar stock
               const stock = $('#precio-stock').val().trim();

               if (stock === '') {
               $('#stock2Error').text('El nuevo precio stock es requerido');
               hasErrors = true;
               } else if (!/^\d+(\.\d+)?$/.test(stock)) {
               $('#stock2Error').text('El stock solo debe contener números');
               hasErrors = true;
               } else {
               $('#stock2Error').text('');
               }

               // Validar descripcion
               const des = $('#des2').val().trim();

               if (des === '') {
               $('#des2Error').text('La nueva descripcion es requerida');
               hasErrors = true;
               } else if (des.length < 12) {
               $('#des2Error').text('La descripcion debe tener al menos 12 caracteres');
               hasErrors = true;
               } else {
               $('#des2Error').text('');
               }

               
               // Si hay errores, prevenir el envío del formulario
               if (hasErrors) {
                   e.preventDefault();
               }
           });
   
           // Quitar el borde rojo cuando el input obtiene el foco
           $('#nombre').on('input', function() {
               $('#producto2Error').empty()
           });
           $('#precio-unidad').on('input', function() {
               $('#precio2Error').empty()
           });
           $('#precio-stock').on('input', function() {
               $('#stoc2kError').empty()
           });
           $('#dese').on('input', function() {
               $('#deseError').empty()
           });
   
           // Volver a validar cuando el input pierde el foco
           $('input').on('blur', function() {
               if ($(this).val().trim() === '') {
                   $(this).addClass('input-error');
                   $('#' + this.id + 'Error').text('Este campo es requerido');
               } else {
                   $(this).removeClass('input-error');
                   $('#' + this.id + 'Error').text('');
               }
           });

           $('textarea').on('blur', function() {
               if ($(this).val().trim() === '') {
                   $(this).addClass('input-error');
                   $('#' + this.id + 'Error').text('Este campo es requerido');
               } else {
                   $(this).removeClass('input-error');
                   $('#' + this.id + 'Error').text('');
               }
           });
       });*/
   </script>
    
</body>
</html>