body{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background: linear-gradient(135deg, #70b8e9, #7d299f);
 
}

.forma{
    display: flex;
}

.forma img{
    
}
