<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
   <link rel="stylesheet" href="/stylesheet/gestionDpedido/estado1.css">
    <div class="header">
        <div>
            <img id="img" class="iconos" src="" alt="">
            <div>
                <strong id="tienda_nombre"></strong><br>
                <h3 id="propietario"></h3>
            </div>
        </div>
        <div>
            <span class="reject2">❌</span>
            <span class="reject">rechazar</span>
        </div>
        <div id="fecha">
            
        </div>
    </div>

    <div class="order-note">
        Estado en espera
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Imagen</th>
                <th>Producto</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

    <div class="subtotal">
        Subtotal: $240
    </div>

    <div class="footer">
        <div>
            <span class="atras"><i class='bx bx-left-arrow-alt' ></i></span>
        </div>
        <div>
            <span class="rep">Repartidor</span>
        </div>
        <div>
          <span class="añedir">➕</span>
        </div>
        <div>
            
            <span class="enviar"><i class='bx bxl-telegram' ></i></span>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script >
        $(function() {


            var tienda_nombre = '';
            var propietario = '';
            var img = '';
            var fecha = '';
            function cargarDetalles(item){
                tienda_nombre = item.tienda_nombre;
                propietario = item.cliente_apellido;
                img = item.tienda_imagen;
                fecha = item.fecha;
                    let fila = `<tr>
                                    <td><img src="${item.producto_imagen}" alt="Producto" width="50" height="80" ></td>
                                    <td>${item.producto_nombre}</td>
                                    <td> $ ${item.producto_precio}</td>
                                    <td>${item.cantidad_total}</td>
                                    <td> $ ${item.subtotal_total}</td>
                                </tr>`;
                $('.table tbody').append(fila);
    

    }
    
        const filaId = '<%= typeof id !== "undefined" ? id : "" %>';
        console.log('el id es igual :'+filaId)


        $.ajax({
        url: '/gestion/detalles?id=' + filaId,
        type: 'GET',
        success: function(response) {
            console.log('Detalles cargados para el pedido:', filaId);
            console.log(response);
           

            for(let item of response){
                cargarDetalles(item);
            }
            $('#tienda_nombre').text("Nombre tienda: " + tienda_nombre);
            $('#propietario').text( "Propietario: " + propietario);
            $('#img').attr('src', img);
            $('#fecha').text("Fecha: " + fecha);
    },
        error: function(xhr, status, error) {
            console.error('Error al cargar los detalles:', error);
        }
    });



        });
    </script>

