<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
   <link rel="stylesheet" href="/stylesheet/gestionDpedido/estado1.css">
    <div class="header">
        <div>
            <img id="img" class="iconos" src="" alt="">
            <div>
                <strong id="tienda_nombre"></strong><br>
                <h3 id="propietario"></h3>
            </div>
        </div>
        <div>
            <span class="reject2">❌</span>
            <span class="reject">rechazar</span>
        </div>
        <div id="fecha">
            
        </div>
    </div>

    <div class="order-note">
        Estado en espera
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Imagen</th>
                <th>Producto</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

    <div class="subtotal">
        Subtotal: $240
    </div>

    <div class="footer">
        <div>
            <span class="atras"><i class='bx bx-left-arrow-alt' ></i></span>
        </div>
        <div>
            <span class="rep">Repartidor</span>
        </div>
        <div>
          <span class="añedir">➕</span>
        </div>
        <div>
            
            <span class="enviar"><i class='bx bxl-telegram' ></i></span>
        </div>
    </div>

    <script >
        $(function() {
            $(".bx").on("click", function() {
                $(".container").load("/gestion/pagina1", function(response, status, xhr) {
                    Modulo1.cargarDatos()
            if (status == "error") {
                var msg = "Lo siento, ocurrió un error: ";
                $(".container").html(msg + xhr.status + " " + xhr.statusText);
            }
        });
            });
        });

    </script>

