<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestionar pedidos</title>
    <link rel="stylesheet" href="/stylesheet/gestionDpedido/estilo1.css">
    <link rel="stylesheet" href="/stylesheet/gestionDpedido/estilo2.css">
    <link rel="stylesheet" href="/stylesheet/gestionDpedido/estilo3.css">
    
        <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
        <script src="javascripts/clases/OptimusClass1,.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- Enlace a jQuery 3.7 -->
</head>
<body>
    <h1>Gestionar pedidos</h1>
        <div id="boton-container">
            <button id="btn2">Cargar Tabla 2</button>
            <button id="btn3">Cargar Tabla 3</button>
        </div>
    <div class="container">
        
    </div>

    
   <script src="/javascript/GestiondPedido/Pagina1.js"></script>
  
    <script>
        $(document).ready(function() {
  
      


//2
$("#btn2").click(function() {
$(".container").load("./tabla2.html", function(response, status, xhr) {
    
    if (status == "error") {
        var msg = "Lo siento, ocurrió un error: ";
        $(".container").html(msg + xhr.status + " " + xhr.statusText);
    }
});
});

//3
$("#btn3").click(function() {
    
$(".container").load("./tabla3.html", function(response, status, xhr) {

    if (status == "error") {
        var msg = "Lo siento, ocurrió un error: ";
        $(".container").html(msg + xhr.status + " " + xhr.statusText);
    }
});
});
});
    </script>
 
</body>
</html>