<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestionar pedidos</title>
    <link rel="stylesheet" href="/stylesheet/gestionDpedido/estilo1.css">
    <link rel="stylesheet" href="/stylesheet/gestionDpedido/estilo2.css">
    <link rel="stylesheet" href="/stylesheet/gestionDpedido/estilo3.css">
    <link rel="stylesheet" href="/stylesheet/gestionDpedido/estado1.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    
        <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
        
        <script src="javascripts/clases/OptimusClass1,.js"></script>
        <script src="/javascript/Autobots/Galbatron.js"></script>
        <script src="/javascript/Autobots/Megatron.js"></script>
        <script src="/javascript/GestiondPedido/initbd.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- Enlace a jQuery 3.7 -->
</head>
<body>
    <h1>Gestionar pedidos</h1>
    <div class="container">
        
    </div>

    
  
  <script src="/javascript/Optimus.js"></script>
  <script src="/javascript/GestiondPedido/Pagina1.js"></script>
  <script src="/javascript/GestiondPedido/ExtraerCambios.js"></script>
 
  <script src="/javascript/GestiondPedido/viewupdate.js"></script>
  <script src="/javascript/Autobots/Fallen"></script>

 
</body>
</html>