<link rel="stylesheet" href="/stylesheet/gestionDpedido/menu3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<table >
    <thead>
        <tr>
            <th>Estado</th>
            
            <th>fecha</th>
            <th>items</th>
            <th>total</th>
            <th>Repartidor</th>
            <th>Fecha estimada de entrega</th>
            <th>detalles</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<script src="/javascript/GestiondPedido/menu3.js"></script>