<table >
    <thead>
        <tr>
            <th>Estado</th>
            
            <th>fecha</th>
            <th>items</th>
            <th>total</th>
            <th>Repartidor</th>
            <th>Fecha estimada de entrega</th>
            <th>detalles</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<script src="/javascript/GestiondPedido/menu3.js"></script>