<table >
    <thead>
        <tr>
            <th>Estado</th>
            
            <th>fecha</th>
            <th>items</th>
            <th>total</th>
            <th>asignado a</th>
            <th>Fecha de entrega</th>
            <th class="checkbox-center" >.</th>
            <th>detalles</th>
        </tr>
    </thead>
    <tbody>
        <tr id="${item.id}" data-id="${item.id}">
            <td class="estado-icon " data-estado="${item.estado}"><i class="fas fa-exclamation-circle "style="color:blue;"></i></td>
        
            <td>${item.fecha}</td>

            <td> ${item.cantidad}</td>
            <td> $ ${item.total}</td>
            <td>
            
                <select id='repartidor'>
                      <option id='text' value="${item.repartidor}">${item.repartidorn}</option>
                </select>
            </td>
            <td>
                <input type="date" id="fecha" name="fecha" value="${item.fecha_entrega ? new Date(item.fecha_entrega).toISOString().split('T')[0] : ''}">
            </td>
            <td class="checkbox-center">
                 <input id='aceptado' type="checkbox" ${item.Aceptado === true ? 'checked' : ''}>
            </td>
            <td><button class="detalles-btn">≫</button></td>
        </tr>
        <tr id="${item.id}" data-id="${item.id}">
            <td class="estado-icon " data-estado="${item.estado}"><i class="fas fa-exclamation-circle "style="color:blue;"></i></td>
          
            <td>${item.fecha}</td>

            <td> ${item.cantidad}</td>
            <td> $ ${item.total}</td>
            <td>
            
                <select id='repartidor'>
                      <option id='text' value="${item.repartidor}">${item.repartidorn}</option>
                </select>
            </td>
            <td>
                <input type="date" id="fecha" name="fecha" value="${item.fecha_entrega ? new Date(item.fecha_entrega).toISOString().split('T')[0] : ''}">
            </td>
            <td class="checkbox-center">
                 <input id='aceptado' type="checkbox" ${item.Aceptado === true ? 'checked' : ''}>
            </td>
            <td><button class="detalles-btn">≫</button></td>
        </tr>
        <tr id="${item.id}" data-id="${item.id}">
            <td class="estado-icon " data-estado="${item.estado}"><i class="fas fa-exclamation-circle "style="color:blue;"></i></td>
          
            <td>${item.fecha}</td>

            <td> ${item.cantidad}</td>
            <td> $ ${item.total}</td>
            <td>
            
                <select id='repartidor'>
                      <option id='text' value="${item.repartidor}">${item.repartidorn}</option>
                </select>
            </td>
            <td>
                <input type="date" id="fecha" name="fecha" value="${item.fecha_entrega ? new Date(item.fecha_entrega).toISOString().split('T')[0] : ''}">
            </td>
            <td class="checkbox-center">
                 <input id='aceptado' type="checkbox" ${item.Aceptado === true ? 'checked' : ''}>
            </td>
            <td><button class="detalles-btn">≫</button></td>
        </tr>
        <tr id="${item.id}" data-id="${item.id}">
            <td class="estado-icon " data-estado="${item.estado}"><i class="fas fa-exclamation-circle "style="color:blue;"></i></td>
          
            <td>${item.fecha}</td>

            <td> ${item.cantidad}</td>
            <td> $ ${item.total}</td>
            <td>
            
                <select id='repartidor'>
                      <option id='text' value="${item.repartidor}">${item.repartidorn}</option>
                </select>
            </td>
            <td>
                <input type="date" id="fecha" name="fecha" value="${item.fecha_entrega ? new Date(item.fecha_entrega).toISOString().split('T')[0] : ''}">
            </td>
            <td class="checkbox-center">
                 <input id='aceptado' type="checkbox" ${item.Aceptado === true ? 'checked' : ''}>
            </td>
            <td><button class="detalles-btn">≫</button></td>
        </tr>
        <tr id="${item.id}" data-id="${item.id}">
            <td class="estado-icon " data-estado="${item.estado}"><i class="fas fa-exclamation-circle "style="color:blue;"></i></td>
          
            <td>${item.fecha}</td>

            <td> ${item.cantidad}</td>
            <td> $ ${item.total}</td>
            <td>
            
                <select id='repartidor'>
                      <option id='text' value="${item.repartidor}">${item.repartidorn}</option>
                </select>
            </td>
            <td>
                <input type="date" id="fecha" name="fecha" value="${item.fecha_entrega ? new Date(item.fecha_entrega).toISOString().split('T')[0] : ''}">
            </td>
            <td class="checkbox-center">
                 <input id='aceptado' type="checkbox" ${item.Aceptado === true ? 'checked' : ''}>
            </td>
            <td><button class="detalles-btn">≫</button></td>
        </tr>
        <tr id="${item.id}" data-id="${item.id}">
            <td class="estado-icon " data-estado="${item.estado}"><i class="fas fa-exclamation-circle "style="color:blue;"></i></td>
          
            <td>${item.fecha}</td>

            <td> ${item.cantidad}</td>
            <td> $ ${item.total}</td>
            <td>
            
                <select id='repartidor'>
                      <option id='text' value="${item.repartidor}">${item.repartidorn}</option>
                </select>
            </td>
            <td>
                <input type="date" id="fecha" name="fecha" value="${item.fecha_entrega ? new Date(item.fecha_entrega).toISOString().split('T')[0] : ''}">
            </td>
            <td class="checkbox-center">
                 <input id='aceptado' type="checkbox" ${item.Aceptado === true ? 'checked' : ''}>
            </td>
            <td><button class="detalles-btn">≫</button></td>
        </tr>
        <tr id="${item.id}" data-id="${item.id}">
            <td class="estado-icon " data-estado="${item.estado}"><i class="fas fa-exclamation-circle "style="color:blue;"></i></td>
          
            <td>${item.fecha}</td>

            <td> ${item.cantidad}</td>
            <td> $ ${item.total}</td>
            <td>
            
                <select id='repartidor'>
                      <option id='text' value="${item.repartidor}">${item.repartidorn}</option>
                </select>
            </td>
            <td>
                <input type="date" id="fecha" name="fecha" value="${item.fecha_entrega ? new Date(item.fecha_entrega).toISOString().split('T')[0] : ''}">
            </td>
            <td class="checkbox-center">
                 <input id='aceptado' type="checkbox" ${item.Aceptado === true ? 'checked' : ''}>
            </td>
            <td><button class="detalles-btn">≫</button></td>
        </tr>
        <tr id="${item.id}" data-id="${item.id}">
            <td class="estado-icon " data-estado="${item.estado}"><i class="fas fa-exclamation-circle "style="color:blue;"></i></td>
          
            <td>${item.fecha}</td>

            <td> ${item.cantidad}</td>
            <td> $ ${item.total}</td>
            <td>
            
                <select id='repartidor'>
                      <option id='text' value="${item.repartidor}">${item.repartidorn}</option>
                </select>
            </td>
            <td>
                <input type="date" id="fecha" name="fecha" value="${item.fecha_entrega ? new Date(item.fecha_entrega).toISOString().split('T')[0] : ''}">
            </td>
            <td class="checkbox-center">
                 <input id='aceptado' type="checkbox" ${item.Aceptado === true ? 'checked' : ''}>
            </td>
            <td><button class="detalles-btn">≫</button></td>
        </tr>
        <tr id="${item.id}" data-id="${item.id}">
            <td class="estado-icon " data-estado="${item.estado}"><i class="fas fa-exclamation-circle "style="color:blue;"></i></td>
          
            <td>${item.fecha}</td>

            <td> ${item.cantidad}</td>
            <td> $ ${item.total}</td>
            <td>
            
                <select id='repartidor'>
                      <option id='text' value="${item.repartidor}">${item.repartidorn}</option>
                </select>
            </td>
            <td>
                <input type="date" id="fecha" name="fecha" value="${item.fecha_entrega ? new Date(item.fecha_entrega).toISOString().split('T')[0] : ''}">
            </td>
            <td class="checkbox-center">
                 <input id='aceptado' type="checkbox" ${item.Aceptado === true ? 'checked' : ''}>
            </td>
            <td><button class="detalles-btn">≫</button></td>
        </tr>
        <tr id="${item.id}" data-id="${item.id}">
            <td class="estado-icon " data-estado="${item.estado}"><i class="fas fa-exclamation-circle "style="color:blue;"></i></td>
          
            <td>${item.fecha}</td>

            <td> ${item.cantidad}</td>
            <td> $ ${item.total}</td>
            <td>
            
                <select id='repartidor'>
                      <option id='text' value="${item.repartidor}">${item.repartidorn}</option>
                </select>
            </td>
            <td>
                <input type="date" id="fecha" name="fecha" value="${item.fecha_entrega ? new Date(item.fecha_entrega).toISOString().split('T')[0] : ''}">
            </td>
            <td class="checkbox-center">
                 <input id='aceptado' type="checkbox" ${item.Aceptado === true ? 'checked' : ''}>
            </td>
            <td><button class="detalles-btn">≫</button></td>
        </tr>
        
    </tbody>
</table>
<!-- ... código existente ... -->
<style>
    .checkbox-center {
        display: none;
    }
</style>
<script>
    $(document).ready(function() {

     
        $('.btn-editar').on('click', function() {
            $('.checkbox-center').css('display', 'block');
            // Cambiar todos los select de repartidor a label
            $('select[id="repartidor"]').each(function() {
                var $repartidor = $(this);
                var textoRepartidor = $repartidor.find('option:selected').text();
                var $labelRepartidor = $('<label>', {
                    id: 'repartidor',
                    text: textoRepartidor
                });
                $repartidor.replaceWith($labelRepartidor);
            });
    
            // Cambiar todos los input de fecha a label
            $('input[id="fecha"]').each(function() {
                var $fecha = $(this);
                var textoFecha = $fecha.val();
                var $labelFecha = $('<label>', {
                    id: 'fecha',
                    text: textoFecha
                });
                $fecha.replaceWith($labelFecha);
            });
        });
    });
    </script>
    