<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CarpiShop</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/stylesheet/gestionDpedido/menu.css">
    <link rel="stylesheet" href="/stylesheet/gestionDpedido/menutablas.css">
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/locale/es.min.js"></script>
   
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="./css/main.css">
</head>
<body>

    <div class="wrapper">
        <header class="header-mobile">
            <button class="open-menu" id="open-menu">
                <i class="bi bi-list"></i>
            </button>
        </header>
        <aside>
            <button class="close-menu" id="close-menu">
                <i class="bi bi-x"></i>
            </button>
            <header>
                <img class="logo" src="/stylesheet/Gerardo_estilos/logo_original.png" alt="">
            </header>
            <nav>
                <ul class="menu">
                    <li>
                        <button id="todos" value="1" class="boton-menu boton-categoria active"><i class="bi bi-hand-index-thumb-fill"></i> Pedidos Exitosos</button>
                    </li>
                    <li>
                        <button id="abrigos" value="2" class="boton-menu boton-categoria"><i class="bi bi-hand-index-thumb"></i> Pedidos en Procesos</button>
                    </li>
                    <li>
                        <button id="camisetas" value="3" class="boton-menu boton-categoria"><i class="bi bi-hand-index-thumb"></i> Pedidos pendientes</button>
                    </li>
                    <li>
                        <button id="pantalones" value="4" class="boton-menu boton-categoria"><i class="bi bi-hand-index-thumb"></i> Pedidos cancelados</button>
                    </li>
                </ul>
            </nav>
            <footer>
                <p class="texto-footer">@ AGAJE CORPORATION 2024</p>
            </footer>
        </aside>
        <main >
            <h2 class="titulo-principal" id="titulo-principal">Administrador de pedidos</h2>
            <!--- boton para editar -->
            <div  class="boton-editar">
                <button class="btn-editar">
                    <i class="bi bi-pencil"></i> 
                    <span class="tooltip">Editar</span>
                </button>
            </div>

            <!-- salir de editar  -->
            <div " class="boton-salir-editar">
                <button class="btn-salir-editar">
                    <i class="bi bi-x-circle"></i> 
                    <span class="tooltip">Salir de edici칩n</span>
                </button>
            </div>
           
            <!--fin de boton para editar-->
            <div  class="delete">
                <button id="btnc" class="delete" >
                    <span id="span"  class="icon-park--delete-b"></span> 
                    <span id="tool" class="tooltip">Eliminar</span>
                </button>
            </div>
            
          

            <div id="contenedor-productos" class="contenedor-productos">
               
            </div>
            
        </main>
    </div>
    <script src="https://unpkg.com/redux@4.0.5/dist/redux.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/javascript/GestiondPedido/CargarContent/cargarDetalles.js"></script>
    
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

    <script>
    $(document).ready(function () {
        $(".boton-categoria").on("click", function (e) {
            $(".boton-categoria").removeClass("active");
            $(this).addClass("active");
            var valor = $(this).val();
            console.log("Valor del bot칩n clickeado:", valor);

            // Cargar la p치gina correspondiente en el div
            $("#contenedor-productos").load("/gestion/menus?n=" + valor, function (response, status, xhr) {
                if (status == "error") {
                    console.log("Error al cargar la p치gina: " + xhr.status + " " + xhr.statusText);
                    $("#contenedor-productos").html("<p>Error al cargar el contenido. Por favor, intente de nuevo.</p>");
                }
            });
        });
    });
    </script>
             <script>
                $(document).ready(function() {
                    $('#btnc').click(function() {
                        $('#span').toggleClass('icon-park--delete-b icon-park--delete');
                        $('#tool').toggleClass('tooltip tooltip2'); 

                        var currentColor = $(this).css('background-color');
                        var newColor = currentColor === 'rgb(210, 221, 224)' ? 'red' : '';
                        $(this).css('background-color', newColor);
                
                        $('#tool').text(function(i, text) {
                            return text === 'Eliminar' ? 'Activado' : 'Eliminar';
                        });
                        });
                       
                  
                        // Cambiar el fondo a rojo
                });
            </script>
</body>
</html>
