
<link rel="stylesheet" href="/stylesheet/gestionDpedido/menu1.css">
<table id="tabla">
    <thead>
        <tr>
            <th >Estado</th>
            <th>items</th>
            <th>total</th>
            <th>Entregado por</th>
            <th >Fecha de entrega</th>
            <th>detalles</th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>
<script src="/javascript/GestiondPedido/menu1.js"></script>



    