<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/stylesheet/gestionDpedido/tabla.css">
    <title>Document</title>
</head>
<body>
    <div class="conteiner1">

    <div class="profile-image-container">
        <div class="profile-image">
            <img id="imagen" src="https://www.meriggi.cl/16159-thickbox_default/polar-color-negro.jpg" alt="Imagen de Perfil" style="width: 100%; height: auto;">
        </div>
    </div>
    <h2 class="tienda">Tienda: ever culon</h2>
    <h2 class="nombre">Nombre: ever</h2>
    <h2 class="direccion">Direccion: calle a santa ana casa grande</h2>

<style>
    .pedido-line {
        position: absolute;
        top: 218px;
        left: 35px;
        width: 750px;
        height: 2px;
        background-color: rgb(107, 71, 4);
    }
</style>
<div class="pedido-line"></div>
<h2 class="pedido">Pedido #1</h2>

    <table id="tabla">
        <thead>
            <tr>
                <th>Imagen</th>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>subtotal</th>
            </tr>
        </thead>
            <tbody>
                <tr>
                    <td><img src="" alt="Producto 1" width="50" height="50"></td>
                    <td>Producto 1</td>
                    <td>2</td>
                    <td>$10.00</td>
                    <td>$20.00</td>
                </tr>
            </tbody>
    </table>
    </div>
    <i class='bx bx-log-out'></i>

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="/javascript/Aaroon/index2.js"></script>
</body>
</html>