<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/gestionDpedido/tabla.css">
    <title>Document</title>
</head>
<body>

    <img class="logo" src="/stylesheet/Gerardo_estilos/logos-removebg-preview.png" alt="">
    <div class="conteiner1">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>John Doe</td>
                <td class="description">A software developer with 5 years of experience in web technologies.</td>
                <td class="total">$5,000</td>
            </tr>
            <tr>
                <td>Jane Smith</td>
                <td class="description">A UX designer specializing in creating intuitive user interfaces for mobile applications.</td>
                <td class="total">$4,500</td>
            </tr>
            <tr class="grand-total">
                <td>Grand Total</td>
                <td></td>
                <td class="total">$20,300</td>
            </tr>
        </tbody>
    </table>
    </div>
    <button class="login-button">aceptar</button>
    <button class="cancel">Cancelar</button>
</body>
</html>