body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
    margin: 0;
    background-color: #081b29;
    font-family: Arial, sans-serif;
}

.register-container {
    background: #081b29;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    height: auto;
    border: 2px solid #0ef;
    box-shadow: 0 0 25px #0ef;
    position: absolute;
    right: 16%;
    top: 5%;
}

.register-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #ffffff;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #0ef;
    font-size: 14px;
}

.input-group i {
    margin-right: 8px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #0ef;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-link {
    display: block;
    color: #0ef;
    text-decoration: none;
    border-radius: 5px;
    background-color: #093a47;
    width: 130px;
    padding: 10px;
    position: relative;
    right: 5px;
    top: -25px;
    border-radius: 9px;
    border: none;
    background-color: rgb(3, 83, 88);
    cursor: pointer;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    outline: 1px solid;
    outline-color: rgba(83, 1, 1, 0.5);
    outline-offset: 0px;
    text-shadow: none;
}

.login-link:hover {
    color: rgb(255, 255, 255);
    text-decoration: underline;
    border: 1px solid;
    border-color: #ff0000;
    box-shadow: inset 0 0 20px rgba(248, 3, 3, 0.5),
        0 0 20px rgba(255, 0, 0, 0.486);
    outline-color: rgba(255, 0, 0, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #ff0000;
    color: rgb(255, 0, 106);
    background-color: rgb(19, 18, 18);
}

.register-button {
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #093a47;
    color: #0ef;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    left: 80px;
    top: -63px;
    border-radius: 9px;
    border: none;
    background-color: rgb(3, 83, 88);
   

    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    outline: 1px solid;
    outline-color: rgba(83, 1, 1, 0.5);
    outline-offset: 0px;
    text-shadow: none;
}

.register-button:hover {
    border: 1px solid;
    border-color: #ff0000;
    box-shadow: inset 0 0 20px rgba(248, 3, 3, 0.5),
        0 0 20px rgba(255, 0, 0, 0.486);
    outline-color: rgba(255, 0, 0, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #ff0000;
    color: rgb(255, 0, 106);
    background-color: rgb(19, 18, 18);
}

.mm{
    position: absolute; 
    right: 50%;
    top: 15%;
}

.salir{
    text-decoration: none;
}


.fa-solid{
    position:relative;
    font-size: 18px;
    transform: translate(270px);
    top: -27px;
    cursor: pointer;
}

#n1{
    position: relative;
    font-size: 18px;
    transform: translate(270px);
    top: -43px;
    cursor: pointer;
}

.confirm-password{
    position: relative;
    top: -15px;
}

.repit-password{
    position: relative;
    top: -15px;
}

.error1{
    position: relative;
    top: 1px;
}

.error2{
    position: relative;
    top: 1px;
}

.error3{
    position: relative;
    top: -15px;
}

.error4{
    position: relative;
    top: -55px;
}