body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 115vh;
    margin: 0;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    font-family: Arial, sans-serif;
}

.register-container {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    height: auto;
    box-shadow:  rgb(255, 255, 255) 0px 5px 15px;
    position: absolute;
    right: 16%;
    top: 5%;
}

.register-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-size: 14px;
}

.input-group i {
    margin-right: 8px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-link {
    display: block;
    color: #f7f7f7;
    text-decoration: none;
    border-radius: 5px;
    background-color: #333;
    width: 130px;
    padding: 10px;
    position: relative;
    right: 5px;
}

.login-link:hover {
    text-decoration: underline;
}

.register-button {
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #333;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    left: 80px;
    top: -38px;
}

.register-button:hover {
    background: #555;
}

.mm{
    position: absolute; 
    right: 45%;
    top: 15%;
}

.salir{
    text-decoration: none;
}







