body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    font-family: Arial, sans-serif;
}

.forgot-password-container {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    height: 300px;
    box-shadow:  rgb(255, 255, 255) 0px 5px 15px;
    position: absolute;
    right: 270px;
}

.forgot-password-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.forgot-password-container p {
    margin-bottom: 20px;
    color: #666;
    font-size: 14px;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-size: 14px;
}

.input-group i {
    margin-right: 8px;
}

.input-group input {
    position: absolute;
    width: 84%;
    top: 235px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.reset-button {
    position: absolute;
    width: 84%;
    padding: 10px;
    border: none;
    top: 295px;
    border-radius: 5px;
    background: #333;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    right: 28px;
}

.reset-button:hover {
    background: #555;   
}

.back-to-login {
    display: block;
    margin-top: 20px;
    color: #3498db;
    text-decoration: none;
}

.back-to-login:hover {
    text-decoration: underline;
}

.mm{
    position: absolute;
    right: 690px;
}

.veri{
    position: absolute;
    text-align: center;
    left: 35px;
    
}

.correoo{
    position: absolute;
    font-family:'Times New Roman', Times, serif;
    top: 53%;
    left: 35px;
}