body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #081b29;
    font-family: Arial, sans-serif;
}

.cs{
    position: relative;
    top: -25px;
    margin-bottom: 20px;
    font-size: 28px;
    color: #333;
}

.cuer{
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 310px;
    height: 310px;
    position: relative;
    top: 20px;
    right: 50px;
    box-shadow:  rgb(255, 255, 255) 0px 5px 15px;
}

.contra{
    position: relative;
    top: -40px;
    height: 50px;
    border-radius: 5px;
}

.code{
    position: relative;
    height: 32px;
    width: 230px;
    top: 30px;
    left: 1px;
    border: 1px solid #ccc;
    border-radius: 5px;

}


.texl{
    position: relative;
    top: 26px;
    right: 65px;
    height: 10px; 
}


.confir{
    position: relative;
    top: -10px;
}

.texll{
    position: relative;
    top: 26px;
    left: -30px;   
    height: 10px; 
}

.codee{
    position: relative;
    height: 32px;
    width: 230px;
    top: 30px;
    left: 1px;
    border: 1px solid #ccc;
    border-radius: 5px;

}


.but {
    width: 56%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #333;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    position: relative;
    top: 45px;
}

.but:hover {
    background: #555;
}

.imm{
    position: relative;
    right: 110px;
}


#n1{
    position: absolute;
    font-size: 18px;
    top: 119%;
    right: 45px;
    cursor: pointer;
    
}

#n2{
    position: absolute;
    font-size: 18px;
    top: 108%;
    right: 45px;
    cursor: pointer;

}

.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
    
  }
  
  .checkmark {
    position: absolute;
    top: 120px;
    right: 435px; 
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 10% auto;
    box-shadow: inset 0px 0px 0px #7ac142;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
  }

  .ley{
    position: absolute;
    top: 52%;
    right: 25%;
  }

  .buton{
    position: absolute;
    top: 63%;
    right: 28%;
    background-color: #333;
    color: #fff;
    height: 45px;
    width: 12%;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
  }
  .buton:hover{
    background-color: #555;
  }
  
  .checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
  }
  @keyframes stroke {
    100% {
      stroke-dashoffset: 0;
    }
  }
  
  @keyframes scale {
    0%, 100% {
      transform: none;
    }
    50% {
      transform: scale3d(1.1, 1.1, 1);
    }
  }
  
  @keyframes fill {
    100% {
      box-shadow: inset 0px 0px 0px 30px #7ac142;
    }
  }

 