body {
    display: flex;
    margin: 0;
    height: 100vh;

}

.sidebar {
    width: 250px;
    height: 590px;
    background-color: #f1efef;
    padding: 30px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.mm {
    position: relative;
    top: -90px;
    right: 5px;
    height: 250px;
    width: 250px;
}

.bor{   
    background-color: rgb(163, 160, 160);
    height: 70px;
    width: 1365px;
    position: relative;
    top: -30px;
    right: 30px;

}









